.carousel-fade .fs-carousel-item {
  opacity: 0;
  visibility: hidden;
  transition: opacity 0s ease, visibility 0s ease;
  transition-delay: 0.25s;
}

.carousel-fade .fs-carousel-item.fs-carousel-visible {
  opacity: 1;
  visibility: visible;
  transition-duration: 0.25s;
  transition-delay: 0s;
}

.carousel-events .fs-carousel-item {
  opacity: 0.25;
  transition: opacity 300ms ease;
}

.carousel-events .fs-carousel-item.fs-carousel-visible {
  opacity: 1;
}
