@tailwind base;
@tailwind components;
// Stuff
@import "common/variables";
@import "./autoload/**/*";
@import "common/global";
// Plugins
@import url(~formstone/dist/css/carousel.css);
@import url(~formstone/dist/css/themes/light.css);

// Components
@import "components/buttons";
@import "components/comments";
@import "components/forms";
@import "components/wp-classes";
@import "components/aspect";
// Layouts
@import "layouts/header";
@import "layouts/sidebar";
@import "layouts/footer";
@import "layouts/pages";
@import "layouts/posts";
@import "layouts/tinymce";
// More Stuff
@tailwind utilities;

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}
