@font-face {
  font-family: "Lynstone";
  src:
    url("../fonts/LynstoneWeb-Regular.woff2") format("woff2"),
    url("../fonts/LynstoneWeb-Regular.woff") format("woff"),
    url("../fonts/LynstoneWeb-Regular.ttf") format("truetype");
  font-style: normal;
}