/* purgecss start ignore */
h1,
h2,
h3,
h4,
h5,
h6 {
  @apply mb-2 leading-tight font-bold text-brand-darker;
}

.entry-content p {
  @apply mb-4;
}

.entry-content ul,
.entry-content ol {
  @apply mb-4 list-disc pl-4;
}

.entry-content ul li,
.entry-content ol li {
  @apply relative list-disc mb-2;
}

.entry-content a {
  @apply text-brand underline;
}

.entry-content blockquote {
  @apply p-6 bg-gray-50 mb-4 border-l-2 border-brand font-serif;
}

.entry-content blockquote p {
  @apply mb-0 font-serif;
}

.entry-cotent {
  & h1 {
    font-size: 15rem;
  }
}

.nav-links > div {
  @apply inline-block;
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

.container {
  @apply max-w-none;
}

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
  max-width: 100%;
  max-height: 100%;
}

/* purgecss end ignore */
