@import 'tailwindcss/base';
@import url(~aos/dist/aos.css);

@font-face {
  font-family: 'Primary-A';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/lppi-font-a.woff') format('woff');
}

@font-face {
  font-family: 'Primary-B';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/lppi-font-b.woff') format('woff');
}

@font-face {
  font-family: 'Primary-C';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/lppi-font-c.woff') format('woff');
}

.widget .menu .menu-item:before {
  @apply bg-brand-dark opacity-25;
}

.entry-content a {
  text-decoration: underline;
}

.entry-content {
  & h1, & h2, & h3, & h4, & h5 {
    @apply text-brand-dark;
  }
}

@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
